{% extends "layout.html" %}
{% block leftpane %}
    {{ super() }}
    {% if 'username' in session %}
        <a class="btn btn-primary" href="{{url_for('editCategory', category=category)}}">Edit Category</a>
        <a class="btn btn-danger" href="{{url_for('deleteCategory', category=category)}}">Delete Category</a>
    {% endif %}
{% endblock %}


{% block main %}
    <h2>{{ category }} Items ({{items|length}})</h2>
    <ul>
    {% for i in items %}
        <li><a href='{{url_for('showItemDescription', category=category, item=i.name)}}'>{{ i.name }}</a></li>
    {% endfor %}
    </ul>
    {% if 'username' in session %}
        <a class="btn btn-primary" href="{{url_for('addItem', category=category)}}">Add Item</a>
    {% endif %}
{% endblock %}